@using EStore.Application.ApplicationModels
@using EStore.Application.Events
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage;

<div class="border-solid border-2 mud-border-primary ma-1">
	<MudGrid Spacing="2">
		<MudItem xs="12">
			<div class="d-flex align-center justify-center mud-width-full px-1 ps-1">
				<MudText>
					@Product.ProductName
				</MudText>
			</div>
		</MudItem>
		<MudItem xs="12">
			<div class="d-flex justify-center">
				<MudImage Class="rounded-lg" Height="80" Width="80" Src="@Product.ImageUrl" FallbackSrc="Media/Images/no-image.png"></MudImage>
			</div>
		</MudItem>
		<MudItem xs="4">
			<div class="d-flex justify-center">
				<MudIconButton Size="Size.Small" Icon="@Icons.Material.Filled.Add" Color="Color.Inherit" OnClick="@((e) => AddProduct())" />
			</div>
		</MudItem>
		<MudItem xs="4">
			<MudPaper Class="d-flex align-center justify-center mud-width-full">@Product.Quantity</MudPaper>
		</MudItem>
		<MudItem xs="4">
			<div class="d-flex justify-center">
				<MudIconButton Size="Size.Small" Icon="@Icons.Material.Filled.Remove" Color="Color.Inherit" OnClick="@((e) => RemoveProduct())" />
			</div>
		</MudItem>
	</MudGrid>

</div>

@code {
	[Parameter]
	public StoreProduct Product { get; set; }

	public async Task AddProduct()
	{
		var localStorageCart = await LocalStorage.GetItemAsync<List<StoreProduct>>("Cart");

		var product = localStorageCart.SingleOrDefault(p => p.ProductNumber == Product.ProductNumber);

		product.Quantity = product.Quantity + 1;

		await LocalStorage.SetItemAsync<List<StoreProduct>>("Cart", localStorageCart);

		await CartPublisher.OnCartStateChanged();
	}

	public async Task RemoveProduct()
	{
		var localStorageCart = await LocalStorage.GetItemAsync<List<StoreProduct>>("Cart");

		var product = localStorageCart.SingleOrDefault(p => p.ProductNumber == Product.ProductNumber);

		if (product.Quantity > 1)
		{
			product.Quantity = product.Quantity - 1;

		}
		else
		{
			localStorageCart.Remove(product);
		}

		await LocalStorage.SetItemAsync<List<StoreProduct>>("Cart", localStorageCart);

		await CartPublisher.OnCartStateChanged();
	}
}